
Project Platformer/Temp/UnityLockfile
Project Platformer/Library/SourceAssetDB
Project Platformer/Library/shadercompiler-UnityShaderCompiler.exe0.log
Project Platformer/Library/ArtifactDB
Project Platformer/Library/shadercompiler-UnityShaderCompiler.exe0.log
Project Platformer/Library/SourceAssetDB
